<mat-card *ngIf="setlistEdicao.items.length > 0 || ehEdicao">
  <br>
  <mat-card-title>
    <h3>{{tituloRepertorio}}</h3>
  </mat-card-title>
  <mat-card-content>
    <div class="row" [formGroup]="formNovoRepertorio">
      <div class="col-md-3">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Título do evento" formControlName="titulo" autocomplete="off">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Data do evento" formControlName="dataEvento"
            autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="full-width">
          <mat-chip-list #chipList aria-label="Seleção de momentos">
            <input placeholder="Seções do evento" [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)" formControlName="momentos" autocomplete="off">
          </mat-chip-list>
          <mat-hint align="start">Aperte ENTER ou VÍRGULA para adicionar</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-3 btn-novo-repertorio">
        <button class="mat-raised-button" (click)="criarRepertorio()">Salvar</button>
        &nbsp;<button class="mat-raised-button" (click)="cancelarCriacaoRepertorio()">Cancelar</button>
      </div>
    </div>
  </mat-card-content>
  <div class="row">
    <!-- <div class="col-md-3" [formGroup]="formNovoRepertorio">
      <mat-form-field class="full-width">
        <mat-chip-list #chipList aria-label="Seleção de momentos">
          <input placeholder="Seções do evento" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)" formControlName="momentos" autocomplete="off">
        </mat-chip-list>
        <mat-hint align="start">Aperte ENTER ou VÍRGULA para adicionar</mat-hint>
      </mat-form-field>
    </div> -->
    <div class="col-md-9">
      <mat-chip *ngFor="let momento of momentos" [selectable]="selectable" [removable]="removable"
        (removed)="remove(momento)">
        {{momento}}
        <mat-icon matChipRemove *ngIf="removable">cancelar</mat-icon>
      </mat-chip>
    </div>
  </div>
  <!-- card criação e edicao -->
  <div class="row" *ngIf="setlistEdicao.items.length > 0 || ehEdicao">
    <div class="col-md-4">
      <br>
      <mat-card class="card-rep">
        <mat-card-content>
          <div>
            <strong>Título do evento</strong><br>
            {{formNovoRepertorio.value.titulo}}
            <br>
            <label>Data</label><br>
            {{formNovoRepertorio.value.dataEvento | date:'dd/MM/yyyy'}}
          </div>
          <label>Musicas</label>
          <div class="example-container">
            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="setlistEdicao.items" class="example-list"
              (cdkDropListDropped)="drop($event)">

              <div class="example-box" *ngFor="let item of setlistEdicao.items; let i = index" cdkDrag>
                <div class="musica-artista" *ngIf="item.nome">
                  <button class="btn-excluir-musica" *ngIf="ehEdicao && item.nome" (click)="excluirMusica(item)" mat-icon-button color="accent">
                    <mat-icon>delete</mat-icon>
                  </button>
                  &nbsp;{{item.nome || item}} - {{item?.artista}}
                </div>
                <div *ngIf="!item.nome"><strong>{{item}}</strong></div>
                
                <div class="drag-handle" cdkDragHandle>                   
                  <i class="fa fa-ellipsis-v pull-right drag-icon"></i>
                  <i class="fa fa-ellipsis-v pull-right drag-icon"></i>
                </div>                
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-card>
<div class="row" *ngIf="grupoSetLists.length > 0">
    <div class="col-sm-4" *ngFor="let setlist of grupoSetLists">
      <br>
      <mat-card class="card-rep">
        <mat-card-content>
          <div>
            <strong>Título do evento</strong><br>
            {{setlist.tituloEvento}}
            <br>
            <label>Data</label><br>
            {{setlist.dataEvento | date:'dd/MM/yyyy'}}
          </div>
          <label>Musicas</label>
          <div class="example-container">
            <div class="example-list">
              <mat-accordion [displayMode]="flat">
                  <mat-expansion-panel *ngFor="let item of setlist.items; let i = index" [disabled]="!item.nome">
                      <mat-expansion-panel-header>
                          <div *ngIf="item.nome">&nbsp;{{item.nome || item}} - {{item?.artista}}</div>
                          <div *ngIf="!item.nome"><strong>{{item}}</strong></div>
                      </mat-expansion-panel-header>
                      <div>
                        <button [disabled]="!item.linkOuvir" class="mat-raised-button">Ouvir</button>&nbsp;
                        <button [disabled]="!item.linkCifra" class="mat-raised-button">Cifra</button>
                      </div>
                  </mat-expansion-panel>
              </mat-accordion>             
            </div>
          </div>
          <div class="rep-actions">
              <button (click)="excluirSetlist(setlist)" mat-icon-button color="accent">
                  <mat-icon>delete</mat-icon>
              </button>
              <button (click)="editarSetlist(setlist)" class="pull-right" mat-icon-button color="primary">
                  <mat-icon>edit</mat-icon>
              </button>
              <button (click)="compartilhar(setlist)" class="pull-right" mat-icon-button color="primary">
                  <mat-icon>share</mat-icon>
              </button>           
          </div> 
        </mat-card-content>
      </mat-card>
    </div>
  </div>