<div class="container">
  <div class="row">
    <div class="col-md-4">
        <h2 mat-dialog-title>Nova Integrante</h2>
    </div>      
  </div>  
  <div class="row" [formGroup]="formNovoMembro">
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nome" formControlName="nome" autocomplete="off">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email_membro" autocomplete="off">
            </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field class="full-width">
                <mat-label>Principal participação no grupo</mat-label>
                <mat-select formControlName="participacao" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let part of participacoes" [value]="part">
                    {{part}}
                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="participacao.hasError('required')">Você deve escolher uma opção</mat-error> -->
              </mat-form-field>            
          </div>
          <div class="col-md-3" *ngIf="formNovoMembro.value.participacao == 'Outro'">
              <mat-form-field class="full-width">
                <input matInput placeholder="Especifique aqui" formControlName="outro" autocomplete="off">
              </mat-form-field>
        </div>        
    </div>
    <div class="pull-right">
        <!-- <mat-dialog-actions> -->
      <button class="mat-raised-button" (click)="close()">Cancelar</button>
      <button class="mat-raised-button mat-primary" (click)="cadastrarIntegrante()">Salvar</button>
      <button class="mat-raised-button mat-primary" (click)="salvarEAdicionarOutro()">Salvar e cadastrar outra</button>
          <!-- </mat-dialog-actions> -->
    </div>
  <!-- <input type="text" [formControl]="someflag" />
  <p [ngClass]="(someflag.value == 1)?'green-back':'red-back'" >can proceed</p> -->
</div>
<!-- {{someflag.value}} -->

