<h2 mat-dialog-title>Nova música</h2>
<mat-dialog-content [formGroup]="formNovaMusica">


  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome da música" formControlName="nome" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width">
        <input matInput placeholder="Artista ou banda" formControlName="artista" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width">
        <input matInput placeholder="Link YouTube" formControlName="linkVideo" autocomplete="off">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <mat-form-field class="full-width">
          <input matInput placeholder="Link Cifra" formControlName="linkCifra" autocomplete="off">
        </mat-form-field>
      </div>
    <div class="col-md-4">
      <mat-form-field class="full-width">
        <input matInput placeholder="Link Spotify" formControlName="linkSpotify" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width">
        <input matInput placeholder="Link Deezer" formControlName="linkDeezer" autocomplete="off">
      </mat-form-field>
    </div>    
  </div>
  <div class="row">
      <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput placeholder="Rítmo da Música" formControlName="ritmo" autocomplete="off">
          </mat-form-field>
        </div>
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <input matInput placeholder="Tags (separadas por vírgula)" formControlName="tags" autocomplete="off">
        </mat-form-field>
      </div>
        
    </div>


  <!-- <div class="row">
      <mat-form-field class="half-width">
          <input matInput placeholder="Ritmo" formControlName="ritmo" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput placeholder="Link YouTube" formControlName="linkVideo" autocomplete="off">
        </mat-form-field>
  </div> -->


</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Fechar</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Salvar</button>
  <button class="mat-raised-button mat-primary" (click)="saveAndContinue()">Salvar e cadastrar outra</button>
</mat-dialog-actions>