<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <!-- /.navbar-collapse -->
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
        
        </ul>
      </div>
      <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>
<div class="pad no-print">

</div>



<div class="container">
  <div class="jumbotron jumbotron-primary">
    <div class="container">
      <div class="col-lg-6">
        <h2>Everything you need to know about SketchUp. Free!</h2>
        <p class="lead">Downloaded more than 30,000 times, this 100-page guide to SketchUp is a must-read for serious 3D
          designers!</p>
        <div class="input-group">
          <!-- <input type="text" class="form-control" placeholder="Enter your email"> -->
          <span class="input-group-btn">
            <button mat-raised-button color="primary" (click)="logarComFacebook()">
                <i class="fa fa-lg fa-fw fa-facebook-official"></i>Entrar com Facebook</button>
          </span>
          <span class="input-group-btn">
            <button mat-raised-button color="warn" (click)="logarComGoogle()">
                <i class="fa fa-lg fa-fw fa-google"></i>Entrar com Google</button>
          </span>
        </div>
        <br>
        <!-- <small>By submitting this form, you agree to our <a class="link-white" href="#!" target="_blank">Terms of Service
            <i class="fa fa-external-link" aria-hidden="true"></i></a> and <a class="link-white" href="#!"
            target="_blank">Privacy Policy <i class="fa fa-external-link" aria-hidden="true"></i></a>.</small> -->
      </div>
      <div class="col-lg-6">
        <img class="img-responsive" src="https://i.imgur.com/1Vm0su2.png" />
      </div>
    </div>
  </div>
</div>
