body {
    font-family:hind;
}

h1,h2,h3,h4,h5,h6{
    font-family:montserrat;
}

p{
    font-size:17px;
}

a{
    border-bottom:2px solid;
    padding: 3px;
    text-decoration:none;
}

a:hover{
    text-decoration:none;
}

a:active{
    padding-top: 2px;
}

a:visited {
    border-bottom:2px solid;
    padding: 3px;
    text-decoration:none;
}

a:focus {
    border-bottom:2px solid;
    text-decoration:none;
}

.link-white{
    border-bottom:2px solid;
    color:#ffffff;
    text-decoration:none;
}

.link-white:hover{
    color:#bdc3c7;
    text-decoration:none;
}

.jumbotron-dark{
    background-color:#333;
    background-image:
        url("https://i.imgur.com/2o6cukD.png"),
        linear-gradient(165deg, rgba(250, 250, 250, 0),
        rgba(255, 255, 255, 0) 65%, rgba(38, 38, 38, 0.1) 65.1%,
        rgba(38, 38, 38, 0.1));
    color:#fff;
}

.jumbotron-dark-alt{
    background-color:#333;
    color:#fff;
}

.jumbotron-muted{
    background-color:#ecf0f1;
    background-image:
        url("https://i.imgur.com/2o6cukD.png"),
        linear-gradient(165deg, rgba(250, 250, 250, 0),
        rgba(255, 255, 255, 0) 65%, rgba(38, 38, 38, 0.1) 65.1%,
        rgba(38, 38, 38, 0.1));
}

.jumbotron-primary{
    /* background-color:#3498db; */
    background-color:#007065;
    /* background-image:
        url("../../../assets/img/music-159865_960_720.png"),    
        linear-gradient(165deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0) 65%, rgba(38, 38, 38, 0.1) 65.1%,
        rgba(38, 38, 38, 0.1)); */
        /*background-position: center; /* Center the image */
        background-repeat: no-repeat; /* 
        background-size: cover; /* Resize the background image to cover the entire container */
    color:#ffffff;
}

.jumbotron-success{
    background-color:#2ecc71;
    background-image:
        url("https://i.imgur.com/2o6cukD.png"),
        linear-gradient(165deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0) 65%,
        rgba(38, 38, 38, 0.1) 65.1%,
        rgba(38, 38, 38, 0.1));
        color:#ffffff;
}

.jumbotron-info{
    background-color:#9b59b6;
    background-image:
        url("https://i.imgur.com/2o6cukD.png"),
        linear-gradient(165deg, rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0) 65%, rgba(38, 38, 38, 0.1) 65.1%,
        rgba(38, 38, 38, 0.1));
    color:#ffffff;
}

.jumbotron-warning{
    background-color:#f39c12;
    background-image:
        url("https://i.imgur.com/2o6cukD.png"),
        linear-gradient(165deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0) 65%,
        rgba(38, 38, 38, 0.1) 65.1%,
        rgba(38, 38, 38, 0.1));
    color:#ffffff;
}

/* .jumbotron-danger{
    background-color:#e74c3c;
    background-image:
        url("../../../assets/img/music-159865_960_720.png"),
        linear-gradient(165deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0) 65%,
        rgba(38, 38, 38, 0.1) 65.1%,
        rgba(38, 38, 38, 0.1));
    color:#ffffff;
} */