<app-header [usuario]="currentUser"></app-header>
<div class="container">
  <div class="row">
    <!-- <div class="col-md-4">
        <img height="10%" mat-card-image src="{{grupo.foto}}" alt="foto de {{grupo.nome}}">
    </div> -->
    <div class="col-md-7">
      <h1>{{grupo.nome}}</h1>
    </div>
    <div class="col-md-5">
        <mat-expansion-panel class="integrantes">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Integrantes</h4>
              </mat-panel-title>               
            </mat-expansion-panel-header>
            <mat-list>
              <div>
                  <mat-list-item *ngFor="let usuario of usuariosDoGrupo">
                      {{usuario.nome}} - {{usuario.email}} - Guitarra 
                   </mat-list-item>
                  <mat-divider></mat-divider>
              </div>
              </mat-list> 
          </mat-expansion-panel>
    </div>
  </div>
  <!-- <div class="row">
      <div class="col-md-6">        
       
      </div>
   </div> -->
  <div class="row">          
      <div class="col-lg-12">
          <mat-card>
            <mat-card-content>
                <mat-tab-group mat-stretch-tabs selectedIndex="tabSelecionada">                  
                  <mat-tab> 
                    <ng-template mat-tab-label>
                      <i class="fa fa-music fa-lg" aria-hidden="true"></i>
                      &nbsp;<span *ngIf="qtdMusicas" matBadge="{{qtdMusicas}}" matBadgeOverlap="false">Músicas</span>
                      <span *ngIf="!qtdMusicas">Músicas</span>
                    </ng-template>
                   <app-musicas (musicasSelecionadasEvent)="receiveMusicasSelecionadas($event)" *ngIf="playlistDoGrupo" [musicas]="playlistDoGrupo.musicas"></app-musicas>
                  </mat-tab>
                  <mat-tab label="Repertórios">
                    <ng-template mat-tab-label>
                      <i class="fa fa-list-ul fa-lg" aria-hidden="true"></i>
                      &nbsp;Repertórios
                    </ng-template> 
                    <app-repertorios [musicasRepertorio]="musicasParaRepertorio"></app-repertorios>                  
                  </mat-tab>               
                </mat-tab-group>
            </mat-card-content>
          </mat-card>
        </div>        
  </div>
</div>
