<h2 mat-dialog-title>Editar música</h2>
<mat-dialog-content [formGroup]="formEditarMusica">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome da música" formControlName="nome" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width">
        <input matInput placeholder="Artista ou banda" formControlName="artista" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width">
        <input type="url" matInput placeholder="Link p/ ouvir a música" formControlName="linkOuvir" autocomplete="off">
        <mat-hint  align="start">Link da música no Youtube, Spotify, etc</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <mat-form-field class="full-width">
          <input type="url"  matInput placeholder="Link Cifra" formControlName="linkCifra" autocomplete="off">
        </mat-form-field>
      </div>
    <div class="col-md-4">
      <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Qtd. de vezes tocada" formControlName="quantidadeVezesTocada" autocomplete="off">
        <mat-hint  align="start">Qtd. real ou aproximada que a música já foi tocada</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width"> 
        <input matInput [matDatepicker]="picker" placeholder="Ultima vez tocada" formControlName="ultimaVezTocada" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint  align="start">Se lembrar, especifique a data</mat-hint>
      </mat-form-field>
    </div>    
  </div>
  <div class="row">
      <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput placeholder="Rítmo da Música" formControlName="ritmo" autocomplete="off">
          </mat-form-field>
        </div>
      <div class="col-md-8">
        <mat-form-field class="full-width">
            <mat-chip-list #chipList aria-label="Seleção de tags">
              <div *ngIf="tags.length > 0">
                  <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                          [removable]="removable" (removed)="remove(tag)">
                  {{tag}}
                  <mat-icon matChipRemove *ngIf="removable">cancelar</mat-icon>
                </mat-chip>
              </div>
              
              <input placeholder="Tags (separadas por vírgula)"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="add($event)"
                      formControlName="tags" autocomplete="off">
            </mat-chip-list>
          <!-- <input matInput placeholder="Tags (separadas por vírgula)" formControlName="tags" autocomplete="off"> -->
        </mat-form-field>
      </div>
        
    </div>


</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="onCancelar()">Cancelar</button>
  <button class="mat-raised-button mat-primary" (click)="salvar()">Salvar</button>
</mat-dialog-actions>