<app-header [usuario]="currentUser"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>{{grupo.nome}}</h2>
    </div>
    <div class="col-md-6">
        <mat-expansion-panel class="integrantes">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Integrantes</h4>
              </mat-panel-title>               
            </mat-expansion-panel-header>
            <mat-list>
              <div>
                  <mat-list-item *ngFor="let usuario of usuariosDoGrupo">
                      {{usuario.nome}} - {{usuario.email}} - Guitarra 
                   </mat-list-item>
                  <mat-divider></mat-divider>
              </div>
              </mat-list> 
              <button (click)="openCadastrarIntegranteModal()" *ngIf="isAdmin" class="add-user" mat-mini-fab aria-label="Example icon-button with a heart icon" matTooltip="Adicionar membro ao grupo">
                <mat-icon>add</mat-icon>
              </button>
          </mat-expansion-panel>
    </div>
  </div>
  <!-- <div class="row">
      <div class="col-md-6">        
       
      </div>
   </div> -->
  <div class="row">          
      <div class="col-lg-12">
          <mat-card>
            <mat-card-content>
                <mat-tab-group mat-stretch-tabs selectedIndex="tabSelecionada">                  
                  <mat-tab> 
                    <ng-template mat-tab-label>
                      <i class="fa fa-music fa-lg" aria-hidden="true"></i>
                      &nbsp;<span *ngIf="qtdMusicas" matBadge="{{qtdMusicas}}" matBadgeOverlap="false">Músicas</span>
                      <span *ngIf="!qtdMusicas">Músicas</span>
                    </ng-template>
                    <div class="spinner-musicas" *ngIf="!playlistDoGrupo"> 
                        <!-- <mat-spinner [diameter]="70" [strokeWidth]="7"></mat-spinner> -->
                        <app-loader></app-loader>
                    </div>                    
                    <app-musicas 
                        *ngIf="playlistDoGrupo" 
                        (musicasSelecionadasEvent)="receiveMusicasSelecionadas($event)"                      
                        [musicas]="playlistDoGrupo.musicas"
                        [clearSelected]="clearSelection">
                      </app-musicas>
                  </mat-tab>
                  <mat-tab label="Repertórios">
                    <ng-template mat-tab-label>
                      <i class="fa fa-list-alt fa-lg" aria-hidden="true"></i>
                      &nbsp;<span *ngIf="qtsSetlists" matBadge="{{qtsSetlists}}" matBadgeOverlap="false">Repertórios</span>
                      <span *ngIf="!qtsSetlists">Repertórios</span>
                    </ng-template>                    
                    <app-repertorios 
                      (qtdGroupSetListsEvent)="qtdGroupSetListsEvent($event)"
                      (needToClearSelection)="limparSelecao($event)"
                      [musicasRepertorio]="musicasParaRepertorio">
                    </app-repertorios>                  
                  </mat-tab>               
                </mat-tab-group>
            </mat-card-content>
          </mat-card>
        </div>        
  </div>
</div>
