.topo-grupo{
    height: 10vh;
}

mat-card{
    margin-bottom: 1vh;
}

.integrantes{
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.spinner-musicas{
    /* padding: 10px; */
    width: 93px;
    height: 115px;
    margin: 0 auto;
    overflow: hidden;
}

.add-user{
    float: right;
    position: sticky;
    margin-top: 7px;
}